<div>
  <div class='text-center my-2 border-bottom border-dark'>
    <h3>This website is used to input and access production data for B82 in
      Lithia Springs, Georgia.</h3>
    <p>Anyone can view the data, but in order to input data you must be
      <strong>Logged In</strong>
    </p>
  </div>
  <div class='mt-3'>
    <h3>Click on the Name to access that report.</h3>
    <ul class='my-2'>
      <li class='my-3'><a href='/daily-summary' class='black'>Daily Summary</a></li>
      <li class='my-3'><a href='/daily-report' class='black'>Daily Report</a></li>
      <li class='my-3'><a href='/weekly-report' class='black'>Weekly Report</a></li>
      <li class='my-3'><a href='/monthly-report' class='black'>Monthly Report</a></li>
    </ul>
  </div>
</div>