<div class='card'>
  <div class='card-header'>
    <h2>Login</h2>
  </div>
  <form id='login-form' class='card-body'>
    <div class='my-2'>
      <label for='username-input-login' class='form-label'>Username</label>
      <input type='text' id='username-input-login' />
    </div>
    <div class='my-2'>
      <label for='password-input-login' class='form-label'>Password</label>
      <input type='password' id='password-input-login' />
    </div>
    <button type='submit' id='login-btn' class='btn btn-primary'>Login!</button>
    <a type='button' class='btn btn-secondary' href='/signup'>Sign up instead</a>
  </form>
</div>

<script src='/js/login.js'></script>